.filter-form label {
  display: block;
}
.filter-form label,
.filter-form option {
  text-transform: capitalize;
}

.results-container-margin {
  margin-top: 100px;
}

.search-results-width-limiter {
  max-width: 1200px;
}

