.editContainer {
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 20px;
}

.accountEditInput {
  padding: 30px 40px 10px 40px;
}

.accountEditTitle {
  font-weight: bold;
}

.editForm {
  background-color: rgb(238, 232, 232);
  padding: 20px 50px 50px 50px;
  border-radius: 20px;
}
*/ .subBtn {
  margin-top: 20px;
}

.subBtn:hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: 1s;
}

.noAccess {
  font-weight: 900;
  font-size: 4rem;
}

.noAccessContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.accountEditSelect {
  min-width: 100%;
  padding: 12px 10px;
  margin-top: 14px;
  border: none;
  border-radius: 10px;
}

.loggedIn {
  padding-bottom: 20px;
  text-align: center;
}

.backArrow {
  display: flex;
  align-items: center;
  position: relative;
  font-size: large;
  bottom: 10px;
  right: 35px;
}

.backArrow:hover {
  color: #2bb673;
  transition: 0.5s;
}

.editImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  outline: solid 8px #2bb673;
  margin-bottom: 4px;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
