* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.signup-btn {
  position: absolute;
  display: block;
  margin: 2em 0 0 2em;
  border: none;
  width: 10%;
  border-radius: 8px;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.logo-container {
  fill: white;
  position: relative;
  display: block;
}

.login-form {
  position: relative;
  display: block;
  background: rgba(162, 163, 162, 0.8);
  border-radius: 2em;
  min-width: 20%;
  padding: 1.2em;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  display: block;
  border: none;
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.5em;
  color: black;
}

.submit-btn {
  background-color: rgb(78, 221, 78);
  color: rgb(18, 78, 18);
  margin-top: 2em;
  border: none;
  width: 100%;
  display: block;
  border-radius: 8px;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  color: rgb(78, 221, 78);
  background-color: rgb(18, 78, 18);
}
