.subscription-modal {
  background-color: rgba(0, 0, 0, 0.836);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cta-button-login {
  background-color: transparent;
  font-family: 'Khula', sans-serif;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 1.2rem;
  color: white;
  transition: ease-in-out 250ms;
  padding-top: 5px;
}

.home-cta-button-login:hover {
  cursor: pointer;
  background-color: white;
  color: #ef4f6c;
}

.subscription-modal-container {
  max-width: 400px;
  width: 90%;
  height: 700px;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  gap: 45px;
  position: relative;
}

.sub-modal-title {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(59, 59, 59);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.crown-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sub-modal-donate-button {
  height: 40px;
  width: 180px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

.gold-bc,
.silver-bc,
.copper-bc {
  color: rgb(59, 59, 59);
  border: 2px solid rgb(59, 59, 59);
  transition: 150ms ease-out;
}

.gold-bc:hover {
  color: #f4aa3c;
  border: 2px solid #f4aa3c;
}
.silver-bc:hover {
  color: #b6b6b6;
  border: 2px solid #b6b6b6;
}
.copper-bc:hover {
  color: #f47e54;
  border: 2px solid #f47e54;
}

.sub-modal-x-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  transition: 250ms ease-out;
  cursor: pointer;
  font-size: 1.2rem;
}

.sub-modal-x-button:hover {
  color: rgb(250, 75, 75);
}

.ccpb {
  margin-bottom: 20px;
}

.user-login-modal-cta {
  position: fixed;
  height: 50px;
  width: 200px;
  z-index: 1200;
  background-color: #ef4f6c;
  bottom: 15px;
  right: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  transition: 250ms ease-out;
}

.user-login-modal-holder {
 position: relative;
  height: 50px;
  width: 200px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

.search-cta-icon {
  font-size: 1;
  transition: 250ms;
  opacity: 0;
  transform: translateX(-20px);
  width: 0;
}

.user-login-modal-cta:hover {
  cursor: pointer;
  width: 220px;
  background-color: var(--pine-green);
}


.user-login-modal-cta:hover .search-cta-icon {
  opacity: 1;
  width: 1rem;
  transform: translateX(5px);
}

@media screen and (max-width: 450px) {
  .user-login-modal-cta {
    bottom: 10px;
    right: 10px;
    
  }
}


