:root {
  --pine-green: #2bb673;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}
