.post-update-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 75vh;
  height: auto;
  width: 100%;
}

.update-post-form-container {
  width: 70%;
  height: auto;
  background-color: lightgray;
  border-radius: 2em;
  padding: 2em;
}

.update-post-title,
.update-post-content {
  width: 100%;
  display: block;
  border: none;
  border-radius: 8px;
  margin-top: 1em;
  padding: 0.5em;
  color: black;
}

.update-post-h1 {
  text-align: center;
  margin-top: 2%;
  font-size: 2em;
}

@media (max-width: 450px) {
  .update-post-form-container {
    width: 90%;
    padding: 1em;
  }
}
